body{
  background-color:beige;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 8px;
    border: 3px solid green;
    padding: 1em 2em;
    margin: 4px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: gray;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .btn:hover {
    color:red;
  }

  @media screen and (max-width: 600px) {
    body {
      background-color: rgb(15, 171, 223);
    }
    .btn:hover {
      background-color: rgb(24, 24, 58);
      color: gray;
    }
  }
    